button {
  margin: 10px;
  width: 100px;
  height: 50px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  background-color: #008CBA;
}
button:active {
  font-weight:bold;
  background-color: #007CBA;
  transform: translateY(2px);
}
label {
  margin-left: 10px;
  width: 300px;
}
input,select {
  margin: 10px;
  width: 300px;
  height: 40px;
}

.container{
  width: 300px;
  word-wrap: normal;
  overflow: hidden;
  display: inline-block;
}
@keyframes text-scroll {
  0% {
    left: 100%;
  }
  25% {
    left: 50%;
  }
  50% {
    left: 0%;
  }
  75% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}
.text {
  white-space:initial;
  text-wrap:wrap;
  font-weight: bold;
  position: relative;
  animation: text-scroll 10s linear infinite;
}
.rows {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.downloader{
  width: 400px;
  word-wrap: normal;
  display: inline-block;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/* styles.css */
#playlistContainer {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#musicList {
  list-style-type: none;
  padding: 0px;
  max-height: 260px;
  height: 260px;
  overflow-y: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#musicList li {
  padding: 10px;
  cursor: pointer;
  font-size:large;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
}

#musicList li:hover {
  background-color: #f2f2f2; /* 高亮背景色 */
  color: #333; /* 高亮文字颜色 */
  transform: scale(1.02); /* 缩放效果 */
  transition: transform 0.3s ease-in-out; /* 缩放过渡效果 */
}

#musicList .playing {
  background-color: #cce8df;
  animation: scrollHighlight 5s linear infinite;
}

@keyframes scrollHighlight {
  0% { background-position: left; }
  100% { background-position: right; }
}

#titleBar {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#refreshButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 30px;
}
#refreshButton img {
  width: 100%;
  height: 100%;
}
#statusBar {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}